body {
  font size: 16px
  font-family: serif;
  color: #222;
}

/* Do not touch the div CSS block! */
div {
  width: 100px;
  height: 100px;
  display: inline-block;
}


/* Add your styles for each box below this line */

#box01 {
  background-color: rgba(28,104,167,71)
}

#box02 {
  background-color: rgba(28,104,167,71,0.7)
  border-top: 10px solid
  border-bottom: 10px solid
  
  margin-right: 20px;
  
  
  padding-top: 10px;
  padding-bottom: 10px;
}

#box03 {
  background-color: rgba(28,104,167,71,0.8)
}

#box04 {
  background-color: rgba(28,104,167,71,71)
}
  
  
