body {
  font size: 16px
  font-family: serif;
  color: #222;
}

/* Do not touch the div CSS block! */
div {
  width: 100px;
  height: 100px;
  display: inline-block;
}


/* Add your styles for each box below this line */

#box01 {
  background-color: rgba(28,104,167,71)
}

#box02 {
  background-color: rgba(28,104,167,71,0.7)
  padding-top: 10px
  padding-right: 10px
  padding-bottom: 10px
  padding-left:10px
}

#box03 {
  background-color: rgba(28,104,167,71,0.8)
    
  margin: 20px
    
  border: 4px solid rgba(28,104,167,1)
   
  padding:10px    
}

#box04 {
  background-color: rgba(28,104,167,71,0.5)
  
  margin: 20px 
  
  border: 4px dotted rgba(28,104,167,1)
  
  padding: 20px 
}
  
  
